.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:white ;
    /* background-color: white; */
    padding: 80px 0;
}

.footer-input input{
    border: 1px solid black;
    width: 250px;
    padding: 10px;
    /* background-color: black; */
    background: white;
    color: black;
    
}
.input-style {
    display: flex;
    margin-top: 10px;
    width: 400px;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
    background: white;
    font-weight: 600;
    border: 1px solid black;
}

::placeholder{
    /* color:rgba(42, 240, 193, 50%); */
    color: black;
}

.Logo2{
    padding-left: 20px;
}
.Connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;

}
.link{
    padding-left: 10px;
    border-spacing: 10px;
}
.link img{
    padding-left: 10px;
}
.link p{
    color: black;
}
span{
    color: black;
}
.footer-input{
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.paper-plane {
    height: 18px;
}