.main {
    display: flex;
    height: 100vh;
    color: white;
    font-size: 16px;
}
.left {
    flex: 5;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.simple-button {
    background: none;
    color: black;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.logo {
    position: fixed;
    left: 503px;
    /* left: 50vmax; */
    top: 20px;
}
.charm{
    position: fixed;
    bottom: 0;
    left: 0;
}
/* h2{
    color: black;
    background-color: white;
} */
.right {
    flex: 3;
    background-color: white;
    display: flex;
    align-items: center;
}
.robot {
    position: absolute;
    right: 25%;

}